/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/
@media (min-width: 1366px) and (max-width: 1920px) {
  
}

/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/
@media (max-width: 1366px) {
.main-menu.main-menu-wrapper {
  margin-top: 40px;
}
.sliding-text-box {
    margin-top: 50px;
}



}

/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/
@media (min-width:1200px) {
    .container {
        width: 1200px;
    }
}


/* -------------------------------------------------
  Old Desktop
---------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1169px) {
.container {width:970px}
.main-menu.main-menu-wrapper {
  margin-top: 20px;
}
.sliding-text-box {
    margin-top: 30px;
}
.slider-content-2 h1 {
  font-size: 90px;
}
.breadcrumb-section {
  padding: 200px 0 130px;
}
.template-section {
	padding: 90px 0;
}
.template-section-2 {
  padding: 70px 0;
}
.single-service {
  padding-right: 10px;
}
.service-content a.text-link {
  display: block;
  margin-top: 8px;
}
.area-heading {
  margin: 0 auto 80px;
  width: 70%;
}
.skill-bar-area {
  margin-top: 60px;
}
.skill-bar-area .area-heading {
  margin: 0 auto 50px;
}
.block-image {
	margin-top: 70px;
}
.block-image img {
  width: 70%;
}
.portfolio-information h4 {
  font-size: 20px;
  margin: 0;
}
.pricing-content-heading {
  padding: 0 40px 20px;
}
.video-section {
	padding: 170px 0;
}
.slick-dots li button::before {
  font-size: 12px;
}
.post-description > h2 {
  font-size: 28px;
}
.post-heading {
  padding: 18px 15px;
}
.post-heading h3 {
  font-size: 20px
}
.post-content-inner h3 {
	font-size: 20px;
}
.single-blog-post .post-info li {
  padding-top: 1px;
}
.post-description-inner {
  margin: 20px 0 0;
}
.post-full-width .post-description-inner {
  margin-bottom: 15px;
}
.related-blog-post {
  margin-top: 30px;
}
.comment-title {
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.single-widget:nth-child(n+2) {
  margin-top: 30px;
}
.testimonial-wrapper blockquote {
	padding: 0 150px;
}
.testimonial-wrapper:hover .slick-next {
    right: -12px;
}
.counter-icon i {
	font-size: 42px;
}
.counter-content p {
	font-size: 32px;
}
.counter-content h3 {
	font-size: 18px;
}
.contact-content p {
	font-size: 16px;
}
.contact-content a {
	font-size: 16px;
}
.footer-area {
  padding: 40px 0;
}
.footer-middle-area-wrapper {
  margin: 40px 0;
  padding: 40px 0;
}
.footer-main-menu {
  margin-top: 10px;
}
.footer-menu li a {
  font-size: 11px;
}
.subscribe-input input {
  width: 375px;
}











}


/* -------------------------------------------------
  Tablet Screen 
---------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
.container {width:750px}
.main-menu.main-menu-wrapper {
  margin-top: 20px;
}
.breadcrumb-section {
  padding: 190px 0 120px;
}
.sliding-text-box {
  margin-top: 30px;
}
.slider-content-2 h1 {
  font-size: 80px;
}
.template-section {
	padding: 80px 0;
}
.template-section-2 {
  padding: 60px 0;
}
.area-heading {
  margin: 0 auto 70px;
  width: 80%;
}
.area-title {
  font-size: 28px;
  margin-bottom: 15px;
}
.breadcrumb-title {
  font-size: 22px;
}
.breadcrumb-list li {
  font-size: 12px;
}
.skill-bar-area {
  margin: 40px 0 80px;
}
.skill-bar-area .area-heading {
  margin: 0 auto 50px;
}
.block-image {
  margin: 80px auto 0;
}
.block-image img {
  float: none;
  margin: 0 auto;
  width: auto;
}
.about-content-wrapper {
  margin-top: 30px;
}
.portfolio-filter > li a {
	padding: 0 20px;
}
.portfolio-column-count-3 .portfolio-item {
    width: 50%;
}
.portfolio-column-count-3 .portfolio-item-big {
    width: 50%;
}
.portfolio-column-count-4 .portfolio-item {
    width: 50%;
}
.portfolio-information h4 {
	font-size: 20px;
}
.project-action-btn a {
  height: 45px;
  line-height: 47px;
  width: 45px;
  font-size: 18px;
}
.related-content h4 {
  font-size: 20px;
}
.related-cat li a {
  font-size: 13px;
}
.counter-section .col-sm-6:nth-child(n+3) .single-counter {
	margin-top: 40px;
}
.counter-icon {
  margin-bottom: 20px;
}
.counter-icon i {
	font-size: 42px;
}
.counter-content p {
  font-size: 32px;
  margin-bottom: 15px;
}
.counter-content h3 {
	font-size: 18px;
}
.single-price-table {
	width: 47%;
}
.single-price-table:nth-child(2) {
	display: none;
}
.single-price-table {
  margin: 0 10px;
}
.pricing-content-heading {
  padding: 0 0 20px;
}
.pricing-features li:nth-child(n+5) {
  display: none;
}
.video-section {
	padding: 150px 0;
}
.video-play-icon {
  font-size: 42px;
  height: 80px;
  width: 80px;
  line-height: 80px;
}
.slick-dots li button::before {
  font-size: 12px;
}
.post-description > h2 {
  font-size: 26px;
}
.single-blog-post .post-info li {
  padding-top: 1px;
}
.post-heading {
  padding: 20px;
}
.post-heading h3 {
  font-size: 20px;
}
.information-description blockquote {
  padding: 30px 20px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.comment-title {
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.testimonial-wrapper:hover .slick-next {
    right: -12px;
}
.testimonial-wrapper blockquote {
	padding: 0 80px;
}
.post-description-inner {
  margin: 20px 0 0;
}
.single-widget:nth-child(n+1) {
  margin-top: 30px;
}
.call-to-action-content {
  width: 90%;
}
.call-to-action-content h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
.call-to-action-content > p {
  margin-bottom: 20px;
}
.col-sm-6:nth-child(n+3) .single-contact-address {
	margin-top: 30px;
}
.contact-icon i {
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
  width: 50px;
}
.contact-content p {
	font-size: 16px;
}
.contact-content a {
	font-size: 16px;
}
textarea.message-control {
  margin-bottom: 20px;
}
.footer-area {
  padding: 30px 0;
}
.footer-middle-area-wrapper {
  margin: 30px 0;
  padding: 30px 0;
}
.footer-main-menu {
  margin-top: 0;
  margin-bottom: 23px;
}
.footer-menu {
	float: none;
	text-align: center;
}
.footer-menu li {
	float: none;
	display: inline;
}
.footer-menu li a {
	display: inline-block;
  font-size: 11px;
}
#subscribe-form {
  display: table;
  margin: 0 auto;
}


}


/* -------------------------------------------------
  Small Mobile
---------------------------------------------------*/
@media (max-width: 767px) {
.container {width:300px}
.slider-content h1.cd-headline {
  display: none;
}
.mobile-heading {
  display: block;
}
.slider-content-2 .mobile-heading,
.slider-content-3 .mobile-heading {
  color: #fff;
}
.mobile-heading span {
  color: #ffce3e;
}
.slider-content-2 h1 {
  font-size: 48px;
}
.slider-menu li {
  margin: 0 10px;
}
.menu-section.show-win {
  width: 100%;
}
.menu-container {
  margin-top: 60px;
}
.slide-logo {
  display: none;
}
.main-menu.main-menu-wrapper {
  margin-top: 20px;
}
.main-menu.main-menu-wrapper li:nth-child(n+3) {
    margin-top: 15px;
}
.main-menu.main-menu-wrapper a {
  font-size: 14px;
}
.sliding-text-box {
  margin-top: 20px;
}
.menu-section .copy-right-info {
  margin-top: 10px;
}
.breadcrumb-section {
  padding: 170px 0 100px;
}
.breadcrumb-content {
  text-align: center;
}
.breadcrumb-title {
  font-size: 22px;
  line-height: 26px;
}
.breadcrumb-list {
  margin-top: 10px;
  float: none;
  text-align: center;
}
.breadcrumb-list li {
  float: none;
  display: inline;
  font-size: 13px;
  margin: 0 10px;
}
.breadcrumb-list li::before {
  top: 0;
}
.breadcrumb-list li a {
  display: inline-block;
}
.template-section {
  padding: 70px 0;
}
.template-section-2 {
  padding: 50px 0;
}
.service-section .col-md-4:nth-child(n+2) .single-service {
  margin-top: 30px;
}
.service-content a.text-link {
  margin-top: 7px;
  display: block;
}
.block-image {
  margin-top: 70px;
}
.block-image img {
  margin: 0 auto;
  width: 100%;
}
.skill-bar-area {
  margin-top: 40px;
  padding-bottom: 70px;
}
.area-heading.area-heading-2 {
  margin: 0 auto 50px;
  width: 100%;
}
.area-heading {
  margin: 0 auto 60px;
  width: 100%;
}
.area-title {
  font-size: 24px;
}
.about-icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.about-heading  h3 {
  font-size: 22px;
}
.follow-title {
  font-size: 18px;
}
.follow-menu li a {
  font-size: 14px;
}
.about-content-wrapper {
  margin-top: 30px;
}
.portfolio-filter > li {
  margin-bottom: 10px;
}
.portfolio-filter > li a {
  font-size: 11px;
  padding: 0 15px;
}
.portfolio-column-count-3 .portfolio-item {
    width: 100%;
}
.portfolio-column-count-3 .portfolio-item-big {
    width: 100%;
}
.portfolio-column-count-2 .portfolio-item {
    width: 100%;
}
.portfolio-column-count-4 .portfolio-item {
    width: 100%;
}
.portfolio-column-count-4 .portfolio-item-big {
    width: 100%;
}
.project-action-btn a {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.portfolio-information h4 {
  font-size: 18px;
  margin-bottom: 0;
}
.project-cat > li a {
  font-size: 12px;
}
.single-information:nth-child(n+1) {
  margin-top: 30px;
}
.information-description {
  margin-top: 30px;
}
.col-sm-6:nth-child(n+2) .related-project {
  margin-top: 30px;
}
.related-content h4 {
  font-size: 18px;
}
.related-cat li a {
  font-size: 12px;
}
.pagination-area {
  margin-top: 10px;
}
.counter-bg-2.template-section-2 .single-counter {
  padding: 30px 0;
}
.counter-section .col-md-3:nth-child(n+2) .single-counter {
  margin-top: 40px;
}
.counter-icon {
  margin-bottom: 20px;
}
.counter-icon i {
  font-size: 42px;
}
.counter-content p {
  margin-bottom: 15px;
  font-size: 32px;
}
.counter-content h3 {
  font-size: 18px;
}
.single-price-table {
  width: 100%;
}
.single-price-table:nth-of-type(n+2) {
  margin-top: 30px;
}
.single-price-table {
  border-radius: 10px;
}
.pricing-value {
  margin-bottom: 20px;
}
.pricing-content-heading {
  padding: 0 0 20px;
}
.pricing-features {
  margin-bottom: 30px;
}
.pricing-title {
  font-size: 22px;
}
.video-section {
  padding: 120px 0;
}
.video-play-icon {
  font-size: 36px;
  height: 70px;
  width: 70px;
  line-height: 70px;
}
.col-md-4:nth-child(n+2) .blog-post {
  margin-top: 30px;
}
.post-heading {
  padding: 15px;
}
.post-heading h3 {
  font-size: 18px;
}
.post-info li a {
  font-size: 10px;
}
.post-content-inner p {
  margin-bottom: 5px;
}
.post-description > h2 {
  font-size: 20px;
}
.single-blog-post .post-info {
  margin-bottom: 10px;
}
.single-blog-post .post-info li {
  padding-top: 1px;
  margin-bottom: 7px;
  margin-right: 10px;
}
.single-blog-post .post-info li a I {
  padding-right: 5px;
}
.post-title-list {
  margin: 10px 0 15px;
  padding-left: 10px;
}
.post-title-list li {
  font-size: 14px;
}
.information-description blockquote {
  font-size: 14px;
  margin: 20px 0 20px 10px;
  padding: 30px 20px 30px 15px;
}
.information-description blockquote p {
  padding-right: 0;
}
.post-description-inner {
  margin: 0;
}
.post-description-inner img {
  margin-top: 10px; 
}
.post-description-inner img + p {
  margin-bottom: 5px;
  font-size: 10px;
}
.post-share {
  margin-top: 20px;
}
.social-menu.post-social {
  text-align: center;
  float: none;
  margin-bottom: 10px;
}
.social-menu.post-social li + li {
    margin: 0 0 0 15px;
}
.post-share span {
  font-size: 11px;
}
.single-blog-post {
  padding-bottom: 20px;
}
.media-content {
  padding-left: 15px;
}
.media-content h5 {
  font-size: 15px;
}
.media-content p {
  font-size: 12px;
}
.media-list li.media-reply {
  padding-left: 15px;
  padding-top: 15px;
}
.media-list li + li {
  padding: 20px 0 0;
}
.media-list {
  margin-bottom: 30px;
}
#bolt-comment-form .form-group {
  margin-bottom: 0;
}
.comment-form .form-control {
  margin-bottom: 15px;
}
.related-blog-post {
  margin-top: 30px;
}
.comment-title {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.related-blog-post .col-sm-6:nth-child(n+2) .blog-post {
  margin-top: 30px;
}
.single-widget:nth-child(n+1) {
  margin-top: 30px;
}
.call-to-action-content {
  width: 100%;
}
.call-to-action-content h3 {
  font-size: 20px;
  line-height: 26px;
}
.testimonial-wrapper blockquote {
  padding: 0 20px;
}
.testimonial-wrapper:hover .slick-next {
    right: -15px;
}
.contact-area .col-md-4:nth-child(n+2) .single-contact-address {
  margin-top: 40px;
}
.contact-icon i {
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  width: 50px;
}
.contact-content p {
  font-size: 16px;
}
.contact-content p + p {
  margin-top: 5px;
}
.contact-content a {
  font-size: 16px;
}
.contact-form-area {
  padding: 50px 20px;
}
.contact-form-area .area-heading h3 {
  font-size: 22px;
}
.contact-form-area .area-heading {
  margin: 0 auto 50px;
}
#bolt-contact-form .form-group:nth-of-type(n+2) {
  margin-top: 20px;
}
#bolt-contact-form .button {
  padding: 0 20px;
}
textarea.message-control {
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer-area {
  padding: 30px 0;
}
.footer-middle-area-wrapper {
  margin: 30px 0;
  padding: 30px 0;
}
.footer-main-menu  {
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-menu {
  float: none;
  text-align: center;
}
.footer-menu li {
  float: none;
  display: inline;
}
.footer-menu li::before {
  display: none;
}
.footer-menu li + li {
  margin: 0 0 0 10px;
  padding: 0;
}
.footer-menu li a {
  display: inline-block;
  font-size: 10px;
}
.subscribe-input input {
  width: 270px;
  padding: 0 90px 0 10px;
}
.email-submit-btn {
  right: 15px;
}
.footer-social-menu {
  float: none;
  margin-top: 30px;
}
.footer-social-menu li {
  float: none;
  display: inline;
}
.footer-social-menu li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.copy-right-info p {
  font-size: 11px;
}





}






















